[Desktop Entry]
Encoding=UTF-8
Name=Ratpoison
Name[az]=Ratpoison
Name[be]=Ratpoison
Name[ca]=Ratpoison
Name[cs]=Ratpoison
Name[cy]=Ratpoison
Name[da]=Ratpoison
Name[de]=Ratpoison
Name[el]=Ratpoison
Name[es]=Ratpoison
Name[et]=Ratpoison
Name[fi]=Ratpoison
Name[fr]=Ratpoison
Name[he]=Ratpoison
Name[hi]=गनोम
Name[hu]=Ratpoison
Name[it]=Ratpoison
Name[ja]=Ratpoison
Name[ko]=그놈
Name[lt]=Ratpoison
Name[mn]=Ратпойзон
Name[ms]=Ratpoison
Name[nl]=Ratpoison
Name[nn]=Ratpoison
Name[no]=Ratpoison
Name[pl]=Ratpoison
Name[pt]=Ratpoison
Name[pt_BR]=Ratpoison
Name[ro]=Ratpoison
Name[ru]=Ратпойзон
Name[sk]=Ratpoison
Name[sl]=Ratpoison
Name[sq]=Ratpoison
Name[sr]=Ратпойзон
Name[sr@Latn]=Gnom
Name[sv]=Ratpoison
Name[tr]=Ratpoison
Name[uk]=Ratpoison
Name[vi]=Ratpoison
Name[wa]=Ratpoison
Name[zh_CN]=Ratpoison
Name[zh_TW]=Ratpoison
Comment=This session logs you into Ratpoison
Comment[az]=Bu iclas sizi Ratpoison'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у Ratpoison
Comment[ca]=Aquesta sessió entra en Ratpoison
Comment[cs]=Toto sezení vás přihlásí do Ratpoison
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i Ratpoison
Comment[da]=Denne session logger dig på Ratpoison
Comment[de]=Diese Sitzung meldet Sie an Ratpoison an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο Ratpoison
Comment[es]=Con esta sesión accede a Ratpoison
Comment[fi]=Tämä istunto kirjaa sisään Ratpoisonen
Comment[fr]=Cette session vous connectera dans Ratpoison
Comment[he]=תצורת הפעלה זו מחברת אותך ל Ratpoison
Comment[hi]=यह सत्र गनोम में लॉगिन होगा
Comment[hu]=Ez a környezet a Ratpoison-ba jelentkeztet be
Comment[it]=Sessione di lavoro con Ratpoison
Comment[ja]=Ratpoison セッションにログインします
Comment[ko]=Ratpoison세션으로 로그인합니다
Comment[lt]=Ši sesija prijungia Jus į Ratpoison
Comment[mn]=Энэ суултаар та Ратпойзон руу нэвтрэнэ.
Comment[ms]=Sesi ini akan log anda  ke Ratpoison
Comment[nl]=Deze sessie meldt u aan bij Ratpoison
Comment[nn]=Denne økta loggar på Ratpoison
Comment[no]=Denne sesjonen logger deg inn til Ratpoison
Comment[pl]=Sesja logowania do Ratpoison
Comment[pt]=Esta sessão inicia-o no Ratpoison
Comment[pt_BR]=Logar no ambiente Ratpoison
Comment[ro]=Această sesiune vă va loga în Ratpoison
Comment[ru]=Начать сеанс Ратпойзон
Comment[sk]=Toto sedenie vás prihlási do prostredia Ratpoison
Comment[sl]=Ta seja vas prijavi v Ratpoison
Comment[sq]=Kjo seancë do t'ju fusë në Ratpoison
Comment[sr]=Ова сесија вас пријављује на Гнома
Comment[sr@Latn]=Ova sesija vas prijavljuje na Gnoma
Comment[sv]=Denna session loggar in dig i Ratpoison
Comment[tr]=Bu oturum ile Ratpoison'a giriş yaparsınız
Comment[uk]=Сеанс роботи в середовищі Ратпойзон
Comment[vi]=Session này cho bạn đăng nhập vào Ratpoison
Comment[zh_CN]=此会话使您登录到 Ratpoison
Comment[zh_TW]=選取這個作業階段後會進入 Ratpoison 環境
Exec=/usr/bin/ratpoison
# no icon yet, only the top three are currently used
Icon=
Type=Application
